<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="kumi">
   
    <xacro:include filename="/home/andreas/dev_ws/src/kumi/description/xacro/variables.xacro" />
    <xacro:include filename="/home/andreas/dev_ws/src/kumi/description/xacro/trajectory_control.xacro" />
    <xacro:include filename="/home/andreas/dev_ws/src/kumi/description/xacro/kumi_mesh.xacro" />
    <xacro:include filename="/home/andreas/dev_ws/src/kumi/description/xacro/sensors_config.xacro" />

</robot>